body{
	margin:0;
	background-color: black;
	height: 2000px; /*For Scrolling Test*/
}

li{
	display: inline;
	padding: 30px
}


.nav { /* Container just in case we want more than just the search input to come along */
	position: absolute;
	margin: 0 auto;
	top: 185px;
	width: 100%;
	background-color:black;
}

.nav ul {
	text-align: center;
	color: white;
	width: 80%;
	padding: 8px;
	font-size: 15px;
	-webkit-transition: width 0.2s;
	transition: width 0.2s;
	-webkit-appearance: none;
	margin: 0 auto;
}

.nav a{
	text-decoration: none;
	color: white;
}

.sticky .nav {
	z-index: 2;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0px;
	padding-top: 16px;
}

.container{
	width: 100%;
	text-align: center;
}

#carousel-container{
	width: 50%;
	height: 500px;
	margin: 0 auto;
}

#photo-carousel img{
	width: 100%;
}

#logo-container{
	padding-top: 16px;
	padding-bottom: 50px;
}



#wrap {
  width: 100%;
  height: inherit;
}

.mdl-mega-footer{
	flex: 1 0 auto;
}


/*
#carousel-container{
	top: 50px;
	text-align: center;
}*/
/*
.carousel-photos{
	width: 400px;
}*/
