@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body{
	background-color: black;
	height: 100%;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

.main{
	overflow: hidden;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

li{
	display: inline;
	padding: 30px
}


.nav { /* Container just in case we want more than just the search input to come along */
	position: absolute;
	margin: 0 auto;
	top: 185px;
	width: 98%;
	background-color:black;
}

.nav ul {
	text-align: center;
	color: white;
	width: 80%;
	padding: 8px;
	font-size: 15px;
	-webkit-transition: width 0.2s;
	transition: width 0.2s;
	-webkit-appearance: none;
	margin: 0 auto;
}

.nav a{
	text-decoration: none;
	color: white;
}

.sticky .nav {
	z-index: 2;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0px;
	padding-top: 16px;
}

.container{
	width: 100%;
	text-align: center;
}

#carousel-container{
	width: 50%;
	height: 500px;
	margin: 0 auto;
}

#photo-carousel img{
	width: 100%;
}

#logo-container{
	padding-top: 16px;
	padding-bottom: 50px;
}

#wrap {
  width: 100%;
  min-height: 100%;
}

/* Gallery */
#gallery {
  font-size: 0;
	margin: 0 auto;
	width: 60%;
}

#gallery a {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

#gallery a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  #gallery a {
    width: calc(25% - 6px);
  }

  #gallery a:nth-of-type(2n) {
    margin-right: 8px;
  }

  #gallery a:nth-of-type(4n) {
    margin-right: 0;
  }
}

#gallery img {
	border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
	width: 250px;
}

#gallery img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/*
#carousel-container{
	top: 50px;
	text-align: center;
}*/
/*
.carousel-photos{
	width: 400px;
}*/

/* Footer */

footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
	width: 100%;
  clear:both;
  padding-top:20px;
	background-color: #333333;
	color: #f3f3f3;
}

footer span ul{
	width: inherit;
	text-align: center;
}

footer .footer-container{
	margin: 0 auto;
	height: 100px;
	text-align: center;
}

footer .footer-col{
	width:30%;
	display: inline-block;
}

footer span{
	text-align: center;
}
